# **Import Dependencies**

In [15]:
# Setup
from dotenv import load_dotenv
import os
import sys

load_dotenv()
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Dataframe
import numpy as np
import pandas as pd
import math

# SQL
from sqlalchemy import text

# Visualizations
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from src.plot_utils import *
from ipywidgets import IntSlider, SelectMultiple, ToggleButtons, Dropdown

# Utilities
from src.db import get_engine, run_sql, execute_sql

# Constants
MY_SQL_PASSWORD = os.getenv("MYSQL_DB_PASSWORD")

# **Creating The Engine**

In [16]:
engine = get_engine(f"mysql+mysqlconnector://root:{MY_SQL_PASSWORD}@localhost:3306/mco1_imdb")

# **Dimensional Model**
Showcases the fact table and corresponding dimension tables. Tables are limited to 10 rows

In [3]:
ROW_LIMIT = 10

In [4]:
facttitle_df = run_sql(f"SELECT * FROM facttitle LIMIT {ROW_LIMIT}", engine)
dimtitle_df = run_sql(f"SELECT * FROM dimtitle LIMIT {ROW_LIMIT}", engine)
dimgenre_df = run_sql(f"SELECT * FROM dimgenre LIMIT {ROW_LIMIT}", engine)
dimepisode_df = run_sql(f"SELECT * FROM dimepisode LIMIT {ROW_LIMIT}", engine)

In [5]:
facttitle_df

,tconst,averageRating,numVotes,isAdult,titleKey,episodeKey,releaseYearKey
0,tt0000001,5.7,2181,0,870789,None,1894
1,tt0000002,5.5,301,0,2637154,None,1892
2,tt0000003,6.4,2253,0,3508174,None,1892
3,tt0000004,5.2,194,0,4898427,None,1892
4,tt0000005,6.2,2991,0,713055,None,1893
5,tt0000006,5.0,220,0,945546,None,1894
6,tt0000007,5.3,930,0,1044636,None,1894
7,tt0000008,5.3,2342,0,1400419,None,1894
8,tt0000009,5.3,229,0,3002067,None,1894
9,tt0000010,6.8,8096,0,2658594,None,1895

In [6]:
dimtitle_df

,titleKey,primaryTitle,originalTitle,titleType
0,1,_ _ _ _ Love,_ _ _ _ Love,short
1,2,_ _ _' _ Peephole,_ _ _' _ Peephole,short
2,3,_____,_____,tvMovie
3,4,________,________,short
4,5,__thebowlinalley,__thebowlinalley,short
5,6,_.,_.,short
6,7,_(¯ ~ ¯)_/,_(¯ ~ ¯)_/,tvEpisode
7,8,_+ Space Positive,_+ Space Positive,short
8,9,_ALONE,_ALONE,tvEpisode
9,10,"_ash Aria_, Insergent, Bradley","_ash Aria_, Insergent, Bradley",tvEpisode

In [7]:
dimgenre_df

   genreKey        genre
0        18       Action
1        28        Adult
2        17    Adventure
3         3    Animation
4        11    Biography
5         4       Comedy
6        14        Crime
7         1  Documentary
8         8        Drama
9        16       Family

In [8]:
dimepisode_df

   episodeKey parentTconst  seasonNumber  episodeNumber
0           1    tt0035599             1              1
1           2    tt0035803             6              1
2           3    tt0035803             6              2
3           4    tt0035803             6              3
4           5    tt0035803             6              4
5           6    tt0035803             6              5
6           7    tt0035803             6              6
7           8    tt0038276             1              1
8           9    tt0039120             1              1
9          10    tt0039122             1              1

## **Analytical Report 1: *General Titles Year-Centered Report***

This analytical report focuses on identifying and ranking the top-rated titles, filtered based on selected title types, genres, number of votes, and adult parameters, analyzing trends and comparisons across hierarchical time dimensions (year, decade, or century). This report utilizes the majority of the OLAP operations, particularly performing roll-up or drill-down across the hierarchical time dimensions and performing slice or dice through filtering across selected and specific title types, genres, and/or time dimensions.

#### **Query Result**

In [18]:
params_1 = {
    "topN": 5,
    "titleTypes": "short,tvSeries",
    "isAdult": 0,
    "genreList": "Adventure,Action",
    "votes": 1000,
    "yearDimension": "year",
    "year1": 2000,
    "year2": 2010,
}

query_1 = """
WITH baseTable AS (
	SELECT t.primaryTitle, t.titleType, f.isAdult, f.averageRating, f.numVotes,
		CASE
		  WHEN :yearDimension = 'year' THEN ry.releaseYear
		  WHEN :yearDimension = 'decade' THEN ry.decade
		  ELSE ry.century
		END AS period,
		(
		  SELECT GROUP_CONCAT(DISTINCT g.genre ORDER BY g.genre SEPARATOR ', ')
		  FROM BridgeTitleGenre btg
		  JOIN DimGenre g ON btg.genreKey = g.genreKey
		  WHERE btg.tconst = f.tconst
		) AS genres
    FROM FactTitle f
    JOIN DimTitle t ON t.titleKey = f.titleKey
    JOIN DimReleaseYear ry ON ry.releaseYearKey = f.releaseYearKey
    WHERE 
			(:votes IS NULL OR f.numVotes >= :votes)
		AND (:isAdult IS NULL OR f.isAdult = :isAdult)
		AND (:titleTypes IS NULL OR FIND_IN_SET(t.titleType, :titleTypes) > 0)
        AND EXISTS (
			SELECT 1
            FROM BridgeTitleGenre btg
            JOIN DimGenre g on g.genreKey = btg.genreKey
            WHERE btg.tconst = f.tconst
				AND (:genreList IS NULL OR FIND_IN_SET(g.genre, :genreList) > 0)
		)
		AND (:year1 IS NULL OR (
			CASE
				WHEN :yearDimension = 'year' THEN ry.releaseYear
                WHEN :yearDimension = 'decade' THEN ry.decade
                ELSE ry.century
			END) >= :year1)
		AND (:year2 IS NULL OR (
			CASE
				WHEN :yearDimension = 'year' THEN ry.releaseYear
                WHEN :yearDimension = 'decade' THEN ry.decade
                ELSE ry.century
			END) <= :year2)
),
ranked AS (
	SELECT period, primaryTitle, titleType, isAdult, genres, averageRating, numVotes,
		ROW_NUMBER() OVER (
		  PARTITION BY period
		  ORDER BY averageRating DESC, numVotes DESC
		) AS rn
	FROM baseTable
)
SELECT period, primaryTitle, titleType, genres, isAdult, averageRating, numVotes
FROM ranked
WHERE rn <= :topN 
ORDER BY period DESC, rn;
"""

In [10]:

result_1 = run_sql(query_1, engine, params=params_1)

result_1.head()

,period,primaryTitle,titleType,genres,isAdult,averageRating,numVotes
0,2010,Dragonslayer Doppelgänger,short,"Action, Drama, Short",0,8.9,1444
1,2010,Cow Hard,short,"Action, Animation, Comedy",0,8.8,1913
2,2010,Le Morbite,short,"Adventure, Short",0,8.8,1690
3,2010,Justified,tvSeries,"Action, Crime, Drama",0,8.6,127536
4,2010,Adventure Time,tvSeries,"Action, Adventure, Animation",0,8.6,127261

#### **Interactive Visualization**

In [33]:
def plot_top_titles_overall(df):
    df['period'] = df['period'].astype(str).str.replace('period=', '')
    df = df.sort_values(by=["period", "averageRating"], ascending=[True, False])

    fig = px.bar(
        df,
        x="primaryTitle",
        y="averageRating",
        color="titleType",
        animation_frame="period",
        hover_data=["genres", "numVotes"],
        title="Analytical Report 1: General Titles Year-Centered Report"
    )

    fig.update_layout(
        height=750, 
        margin=dict(l=50, r=50, t=80, b=220),  
        xaxis_tickangle=-45,
        transition={'duration': 500},
        showlegend=True
    )

    fig.update_xaxes(tickangle=-45, tickfont=dict(size=11))

    return fig


param_config_1 = {
    "topN": {"widget": IntSlider(value=5, min=1, max=20, description="Top N:")},
    "titleTypes": {
        "widget": SelectMultiple(
            options=["movie", "tvSeries", "short"],
            value=["tvSeries"],
            description="Title Types:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "isAdult": {
        "widget": ToggleButtons(
            options=[("All", None), ("Non-Adult", 0), ("Adult", 1)],
            description="Adult:"
        )
    },
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Comedy", "Drama", "Horror"],
            value=["Action"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "votes": {"widget": IntSlider(value=1000, min=0, max=100000, step=500, description="Min Votes:")},
    "yearDimension": {
        "widget": Dropdown(options=["year", "decade", "century"], value="year", description="Year Dim:")
    },
    "year1": {"widget": IntSlider(value=2000, min=1900, max=2025, description="From:")},
    "year2": {"widget": IntSlider(value=2010, min=1900, max=2025, description="To:")},
}

make_interactive_query(engine, text(query_1), param_config_1, plot_top_titles_overall, title="Analytical Report 1: General Titles Year-Centered Report")

VBox(children=(HBox(children=(IntSlider(value=5, description='Top N:', max=20, min=1), SelectMultiple(descript…

### **Analytical Report 2: *Genre-Centered Report***
This analytical report revolves around identifying and showing the top-rated titles within specified genres, filtered across selected title types, time dimensions, number of votes, and adult parameters, enabling comparative analysis of genre trends and performance. This report integrates slice or dice OLAP operations through filtering and comparing selected and specific title types and time dimensions across different selected genres.

#### **Query Result**

In [20]:
params_2 = {
    "topN": 10,
    "titleTypes": "videoGame",
    "isAdult": 0,
    "genreList": "Animation,Action,Crime",
    "votes": 500,
    "yearDimension": "decade",
	"yearList": "1980,2020",
}

query_2 = """
WITH baseTable AS (
	SELECT f.tconst, t.primaryTitle, t.titleType, f.isAdult, f.averageRating, f.numVotes,
		(
		  SELECT GROUP_CONCAT(DISTINCT g.genre ORDER BY g.genre SEPARATOR ', ')
		  FROM BridgeTitleGenre btg
		  JOIN DimGenre g ON btg.genreKey = g.genreKey
		  WHERE btg.tconst = f.tconst
		) AS genres,
		CASE
		  WHEN :yearDimension = 'year' THEN ry.releaseYear
		  WHEN :yearDimension = 'decade' THEN ry.decade
			ELSE ry.century
		END AS period
	FROM FactTitle f
    JOIN DimTitle t ON t.titleKey = f.titleKey
    JOIN DimReleaseYear ry ON ry.releaseYearKey = f.releaseYearKey
    WHERE 
			(:votes IS NULL OR f.numVotes >= :votes)
		AND (:isAdult IS NULL OR f.isAdult = :isAdult)
		AND (:titleTypes IS NULL OR FIND_IN_SET(t.titleType, :titleTypes) > 0)
		-- If selection of years, retain this block
        AND (:yearList IS NULL OR FIND_IN_SET(CAST(
			CASE
				WHEN :yearDimension = 'year' THEN ry.releaseYear
                WHEN :yearDimension = 'decade' THEN ry.decade
                ELSE ry.century
			END AS CHAR), :yearList) > 0)
), ranked AS (
	SELECT g.genre, b.primaryTitle, b.titleType, b.isAdult, b.genres, b.averageRating, b.numVotes, b.period,
		ROW_NUMBER() OVER (
		  PARTITION BY g.genre
		  ORDER BY b.averageRating DESC, b.numVotes DESC
		) AS rn
	FROM baseTable b
    JOIN BridgeTitleGenre btg ON btg.tconst = b.tconst
    JOIN DimGenre g ON btg.genreKey = g.genreKey
    WHERE (:genreList IS NULL OR FIND_IN_SET(g.genre, :genreList) > 0)
)
SELECT genre, primaryTitle, titleType, genres, isAdult, averageRating, numVotes, period
FROM ranked
WHERE rn <= :topN 
ORDER BY genre, rn;
"""

In [13]:
result_2 = run_sql(query_2, engine, params=params_2)

result_2.head()

,genre,primaryTitle,titleType,genres,isAdult,averageRating,numVotes,period
0,Action,The Last of Us: Part I,videoGame,"Action, Adventure, Drama",0,9.7,12519,2020
1,Action,Baldur's Gate III,videoGame,"Action, Adventure, Drama",0,9.6,8599,2020
2,Action,Clair Obscur: Expedition 33,videoGame,"Action, Adventure, Fantasy",0,9.6,5673,2020
3,Action,Mass Effect: Legendary Edition,videoGame,"Action, Adventure, Drama",0,9.6,3677,2020
4,Action,God of War Ragnarök: Valhalla,videoGame,"Action, Adventure, Drama",0,9.5,23496,2020

#### **Interactive Visualization**

In [47]:
def plot_top_titles_by_genre(df):
    """
    Plots the top-N titles per genre (based on rating and votes)
    using Plotly, with each genre shown in its own facet.
    """
    import plotly.express as px

    # Keep only top N titles per genre
    df_top = (
        df.sort_values(["genre", "averageRating", "numVotes"], ascending=[True, False, False])
        .groupby("genre")
        .head(10) # Will change according to widgets
        .reset_index(drop=True)
    )

    # Determine facet layout dynamically
    num_genres = df_top["genre"].nunique()
    facet_wrap = min(num_genres, 3)

    # Create the plot
    fig = px.bar(
        df_top,
        x="primaryTitle",
        y="averageRating",
        color="genre",
        facet_col="genre",
        facet_col_wrap=facet_wrap,
        hover_data=["titleType", "numVotes", "period"],
        height=max(500, 300 * ((num_genres // facet_wrap) + 1)),
    )

    # Layout improvements
    fig.update_layout(
        title="Top Titles by Genre and Rating",
        margin=dict(l=40, r=40, t=80, b=200),
        yaxis_title="Average Rating",
        showlegend=False,
        autosize=True,
    )

    # Rotate labels and adjust ticks
    fig.for_each_xaxis(lambda axis: axis.update(tickangle=45, tickfont=dict(size=9)))

    fig.update_xaxes(matches=None)

    # Adjust Y range
    fig.update_yaxes(dtick=0.5, range=[df_top["averageRating"].min() - 0.2, 10])

    return fig


param_config_2 = {
    "topN": {"widget": IntSlider(value=10, min=1, max=30, description="Top N:")},
    "titleTypes": {
        "widget": SelectMultiple(
            options=["movie", "tvSeries", "short", "videoGame"],
            value=["videoGame"],
            description="Title Types:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "isAdult": {
        "widget": ToggleButtons(
            options=[("All", None), ("Non-Adult", 0), ("Adult", 1)],
            description="Adult:"
        )
    },
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Animation", "Crime", "Drama", "Comedy"],
            value=["Animation", "Action", "Crime"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "votes": {"widget": IntSlider(value=500, min=0, max=100000, step=500, description="Min Votes:")},
    "yearDimension": {
        "widget": Dropdown(options=["year", "decade", "century"], value="decade", description="Year Dim:")
    },
    "yearList": {
        "widget": SelectMultiple(
            options=[str(y) for y in range(1900, 2030, 10)],
            value=["1980", "2020"],
            description="Decades:"
        ),
        "transform": lambda v: ",".join(v)
    },
}

# --- Dynamic year widget updater ---
def update_year_widgets(change):
    dim = change["new"]

    if dim == "year":
        year_options = [str(y) for y in range(1900, 2026)]
    elif dim == "decade":
        year_options = [str(y) for y in range(1900, 2030, 10)]
    else:
        year_options = ["19", "20", "21"]

    param_config_2["yearList"]["widget"].options = year_options
    param_config_2["yearList"]["widget"].description = dim.capitalize()
    param_config_2["yearList"]["widget"].value = tuple(year_options[:2]) if len(year_options) >= 2 else ()

# Attach observer
param_config_2["yearDimension"]["widget"].observe(update_year_widgets, names="value")

make_interactive_query(engine, text(query_2), param_config_2, plot_top_titles_by_genre, title="Analytical Report 2: Genre-Centered Report")

VBox(children=(HBox(children=(IntSlider(value=10, description='Top N:', max=30, min=1), SelectMultiple(descrip…

### **Analytical Report 3: *Film Type-Centered Report***
This analytical report evaluates and ranks top-rated titles by title types, filtered across selected genres, time dimension, number of votes, and adult parameters, providing insights into user ratings and preference by title types. This report utilizes slice or dice OLAP operations as well through filtering and comparing selected and specific genres and time dimensions across different selected title types.

#### **Query Result**

In [22]:
params_3 = {
    "topN": 3, 
    "genreList": 'Horror',
    "isAdult": 0,
    "yearDimension": 'year',
    "yearList": '2000,2005,2010,2015,2020', 
    "votes": 800,
    "titleTypes": 'Movie,tvSeries,Short'
}

query_3 = """
WITH baseTable AS (
	SELECT t.primaryTitle, t.titleType, f.isAdult, f.averageRating, f.numVotes,
		(
		  SELECT GROUP_CONCAT(DISTINCT g.genre ORDER BY g.genre SEPARATOR ', ')
		  FROM BridgeTitleGenre btg
		  JOIN DimGenre g ON btg.genreKey = g.genreKey
		  WHERE btg.tconst = f.tconst
		) AS genres,
		CASE
		  WHEN :yearDimension = 'year' THEN ry.releaseYear
		  WHEN :yearDimension = 'decade' THEN ry.decade
			ELSE ry.century
		END AS period
	FROM FactTitle f
    JOIN DimTitle t ON t.titleKey = f.titleKey
    JOIN DimReleaseYear ry ON ry.releaseYearKey = f.releaseYearKey
    WHERE 
			(:votes IS NULL OR f.numVotes >= :votes)
		AND (:isAdult IS NULL OR f.isAdult = :isAdult)
		AND (:titleTypes IS NULL OR FIND_IN_SET(t.titleType, :titleTypes) > 0)
		AND EXISTS (
			SELECT 1
            FROM BridgeTitleGenre btg
            JOIN DimGenre g on g.genreKey = btg.genreKey
            WHERE btg.tconst = f.tconst
				AND (:genreList IS NULL OR FIND_IN_SET(g.genre, :genreList) > 0)
		)

		-- If selection of years, retain this block
        AND (:yearList IS NULL OR FIND_IN_SET(CAST(
			CASE
				WHEN :yearDimension = 'year' THEN ry.releaseYear
                WHEN :yearDimension = 'decade' THEN ry.decade
                ELSE ry.century
			END AS CHAR), :yearList) > 0)
), ranked AS (
	SELECT b.titleType, b.primaryTitle, b.isAdult, b.genres, b.averageRating, b.numVotes, b.period,
		ROW_NUMBER() OVER (
		  PARTITION BY b.titleType
		  ORDER BY b.averageRating DESC, b.numVotes DESC
		) AS rn
	FROM baseTable b
)
SELECT titleType, primaryTitle, genres, isAdult, averageRating, numVotes, period
FROM ranked
WHERE rn <= :topN 
ORDER BY titleType, rn;
"""

In [ ]:

result_3 = run_sql(query_3, engine, params=params_3)

result_3

,titleType,primaryTitle,genres,isAdult,averageRating,numVotes,period
0,movie,Rocky Horror Show Live,"Comedy, Horror, Musical",0,8.1,902,2015
1,movie,In Search of Darkness Part II: The Journey Int...,"Documentary, History, Horror",0,7.9,1946,2020
2,movie,Devadoothan,"Drama, Horror, Musical",0,7.7,1545,2000
3,short,The 420 Murders,"Horror, Short",0,8.4,1393,2010
4,short,Forklift Driver Klaus: The First Day on the Job,"Comedy, Horror, Short",0,7.9,5110,2000
5,short,Opal,"Animation, Horror, Musical",0,7.7,2089,2020
6,tvSeries,Ordem Paranormal,"Adventure, Drama, Horror",0,9.2,2170,2020
7,tvSeries,Supernatural,"Drama, Fantasy, Horror",0,8.4,523366,2005
8,tvSeries,Ash vs Evil Dead,"Action, Comedy, Horror",0,8.4,83690,2015

#### **Interactive Visualization**

In [49]:
def plot_top_titles_by_type(df):
    """
    Plots top titles (movies/TV series/etc.) faceted by titleType, colored by genre.
    Each facet shows only the titles belonging to its type.
    """
    import plotly.express as px

    # Sort by averageRating (and optionally votes) for cleaner ordering
    df = df.sort_values(["titleType", "averageRating", "numVotes"], ascending=[True, False, False])

    # Create the faceted bar chart
    fig = px.bar(
        df,
        x="primaryTitle",
        y="averageRating",
        color="genres",
        facet_col="titleType",
        hover_data=["numVotes", "genres", "period", "isAdult"],
        height=600,
    )

    # Improve layout
    fig.update_layout(
        autosize=True,
        margin=dict(l=40, r=40, t=60, b=160),
        title="Top Titles by Type and Rating",
        yaxis_title="Average Rating",
        showlegend=True,
    )

    # Rotate x-axis labels for readability
    fig.update_xaxes(tickangle=45, tickfont=dict(size=9))

    # Make each facet's x-axis independent
    fig.update_xaxes(matches=None)

    # Optional: make y-axis start a little lower for visual space
    fig.update_yaxes(dtick=0.5, range=[df["averageRating"].min() - 0.2, 10])

    return fig


# --- 2. Parameter configuration ---
param_config_3 = {
    "topN": {"widget": IntSlider(value=3, min=1, max=20, description="Top N:")},
    "titleTypes": {
        "widget": SelectMultiple(
            options=["Movie", "tvSeries", "Short"],
            value=["Movie", "tvSeries", "Short"],
            description="Title Types:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "isAdult": {
        "widget": ToggleButtons(
            options=[("All", None), ("Non-Adult", 0), ("Adult", 1)],
            description="Adult:"
        )
    },
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Animation", "Crime", "Drama", "Comedy", "Horror"],
            value=["Horror"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "votes": {"widget": IntSlider(value=800, min=0, max=50000, step=100, description="Min Votes:")},
    "yearDimension": {
        "widget": Dropdown(options=["year", "decade", "century"], value="year", description="Year Dim:")
    },
    "yearList": {
        "widget": SelectMultiple(
            options=[str(y) for y in range(2000, 2025, 5)],
            value=["2000", "2005", "2010", "2015", "2020"],
            description="Years:"
        ),
        "transform": lambda v: ",".join(v)
    }
}


# --- 3. Dynamic year widget updater ---
def update_year_widgets_3(change):
    """
    Dynamically updates the available year/decade/century options when the user
    changes the yearDimension dropdown in Report 3.
    """
    dim = change["new"]

    if dim == "year":
        year_options = [str(y) for y in range(1900, 2026)]
    elif dim == "decade":
        year_options = [str(y) for y in range(1900, 2030, 10)]
    else:  # century
        year_options = ["19", "20", "21"]

    # Update widgets in param_config_3
    param_config_3["yearList"]["widget"].options = year_options
    param_config_3["yearList"]["widget"].description = dim.capitalize()
    param_config_3["yearList"]["widget"].value = tuple(year_options[:5]) if len(year_options) >= 5 else tuple(year_options)


# Attach the callback
param_config_3["yearDimension"]["widget"].observe(update_year_widgets_3, names="value")
# --- 3. Make the plot interactive ---
make_interactive_query( engine, text(query_3), param_config_3, plot_top_titles_by_type, title="Analytical Report 3: Film Type-Centered Report")

VBox(children=(HBox(children=(IntSlider(value=3, description='Top N:', max=20, min=1), SelectMultiple(descript…

### **Analytical Report 4: *Genre & Release Year Cross-Dimensional Report***
This analytical report provides insights on trends of average ratings of selected genres across selected time dimensions, allowing analysis of trends or shifts in genre performance and preference over time. This report integrates a majority of OLAP operations through performing roll-up and drill-down across the hierarchical time dimension and conducting pivot, slice, and/or dice across genre and time dimensions.

#### **Query Result**

In [24]:
params_4 = {
    "genreList": "Action,Adventure",
    "year1": 2000,
    "year2": 2020,
    "yearDimension": "year",
    "yearList": None 
}

query_4 = """
SELECT
    CASE
        WHEN :yearDimension = 'year' THEN ry.releaseYear
        WHEN :yearDimension = 'decade' THEN ry.decade
        ELSE ry.century
    END AS period,
    g.genre,
    ROUND(AVG(f.averageRating), 2) AS avgRating
FROM FactTitle f
JOIN BridgeTitleGenre btg 
  ON btg.tconst = f.tconst
JOIN DimGenre g 
  ON g.genreKey = btg.genreKey
JOIN DimReleaseYear ry 
  ON ry.releaseYearKey = f.releaseYearKey
JOIN DimTitle t 
  ON t.titleKey = f.titleKey
WHERE
  (:genreList IS NULL OR FIND_IN_SET(g.genre, :genreList) > 0)
  AND (:year1 IS NULL OR (
    CASE
      WHEN :yearDimension = 'year' THEN ry.releaseYear
      WHEN :yearDimension = 'decade' THEN ry.decade
      ELSE ry.century
    END) >= :year1)
  AND (:year2 IS NULL OR (
    CASE
      WHEN :yearDimension = 'year' THEN ry.releaseYear
      WHEN :yearDimension = 'decade' THEN ry.decade
      ELSE ry.century
    END) <= :year2)
    GROUP BY period, g.genre
    ORDER BY period, g.genre;
"""

In [ ]:
result_4 = run_sql(query_4, engine, params=params_4)

result_4.head()

   period      genre  avgRating
0    2000     Action       6.91
1    2000  Adventure       6.99
2    2001     Action       6.96
3    2001  Adventure       7.10
4    2002     Action       6.96

#### **Interactive Visualizations**

In [36]:
# --- Parameter Config ---
param_config_4 = {
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Animation", "Crime", "Drama", "Comedy", "Horror"],
            value=["Action", "Adventure"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "yearDimension": {
        "widget": Dropdown(
            options=["year", "decade", "century"],
            value="year",
            description="Year Dim:"
        )
    },
    "year1": {"widget": IntSlider(value=1980, min=1900, max=2025, step=10, description="From:")},
    "year2": {"widget": IntSlider(value=2020, min=1900, max=2025, step=10, description="To:")},
}


# --- Dynamic year slider update function ---
def update_year_sliders_4(change):
    """Update the range and step of year sliders when the year dimension changes."""
    dim = change["new"]
    year1_widget = param_config_4["year1"]["widget"]
    year2_widget = param_config_4["year2"]["widget"]

    if dim == "year":
        year1_widget.min, year1_widget.max, year1_widget.step = 1900, 2025, 1
        year2_widget.min, year2_widget.max, year2_widget.step = 1900, 2025, 1
        year1_widget.value, year2_widget.value = 1980, 2020

    elif dim == "decade":
        year1_widget.min, year1_widget.max, year1_widget.step = 1900, 2030, 10
        year2_widget.min, year2_widget.max, year2_widget.step = 1900, 2030, 10
        year1_widget.value, year2_widget.value = 1980, 2020

    elif dim == "century":
        # You can treat centuries as 19, 20, 21 if desired, or 1900, 2000, 2100 numerically
        year1_widget.min, year1_widget.max, year1_widget.step = 19, 22, 1
        year2_widget.min, year2_widget.max, year2_widget.step = 19, 22, 1
        year1_widget.value, year2_widget.value = 20, 21


# Attach the observer
param_config_4["yearDimension"]["widget"].observe(update_year_sliders_4, names="value")


# --- Visualization Function ---
def plot_avg_rating_trend_with_pivot(df):
    """
    Analytical Report #4 visualization with:
      - Line chart (trend)
      - Heatmap (period × genre)
      - Scrollable pivot table (summary)
    Returns a single Plotly Figure (for use with make_interactive_query).
    """
    if df.empty:
        fig = go.Figure()
        fig.add_annotation(
            text="No data found for the current selection.",
            showarrow=False, x=0.5, y=0.5, font=dict(size=14)
        )
        return fig

    df['period'] = df['period'].astype(str)
    df_pivot = df.pivot(index='period', columns='genre', values='avgRating').fillna(0)

    fig = make_subplots(
        rows=3, cols=1,
        row_heights=[0.45, 0.35, 0.20],
        vertical_spacing=0.08,
        subplot_titles=(
            "Average Rating Trend by Genre",
            "Average Rating Heatmap (Period × Genre)",
            "Pivot Table Summary"
        ),
        specs=[[{"type": "xy"}],
               [{"type": "heatmap"}],
               [{"type": "domain"}]]
    )

    # --- Line Chart ---
    for genre, d in df.groupby("genre"):
        fig.add_trace(
            go.Scatter(
                x=d["period"], y=d["avgRating"],
                mode="lines+markers",
                name=genre,
                line=dict(width=2),
                hovertemplate=f"Genre: {genre}<br>Period: %{{x}}<br>Avg Rating: %{{y}}"
            ),
            row=1, col=1
        )

    # --- Heatmap ---
    fig.add_trace(
        go.Heatmap(
            z=df_pivot.values,
            x=df_pivot.columns,
            y=df_pivot.index,
            colorscale="Viridis",
            colorbar=dict(title="Avg Rating", len=0.5, y=0.65),
            hoverongaps=False
        ),
        row=2, col=1
    )

    # --- Table (Pivot Summary) ---
    max_rows_display = 15
    num_rows = len(df_pivot)
    shown_rows = df_pivot.iloc[:max_rows_display]

    caption = ""
    if num_rows > max_rows_display:
        caption = f"Showing first {max_rows_display} of {num_rows} periods"

    fig.add_trace(
        go.Table(
            header=dict(
                values=["Period"] + list(df_pivot.columns),
                fill_color="#B2EBF2",
                align="center",
                font=dict(color="black", size=12)
            ),
            cells=dict(
                values=[shown_rows.index] + [shown_rows[col] for col in shown_rows.columns],
                fill_color="#E0F7FA",
                align="center",
                font=dict(size=11)
            ),
            domain=dict(x=[0, 1], y=[0, 0.15])
        ),
        row=3, col=1
    )

    fig.update_layout(
        height=1300,
        title="Analytical Report #4: Genre & Release Year Trend",
        title_x=0.5,
        title_font=dict(size=20),
        margin=dict(l=50, r=50, t=100, b=40),
        legend=dict(orientation="h", yanchor="bottom", y=1.05, xanchor="center", x=0.5),
        plot_bgcolor="white",
        annotations=[
            dict(
                text=caption,
                x=0.5, y=0.02,
                xref="paper", yref="paper",
                showarrow=False,
                font=dict(size=12, color="gray")
            )
        ] if caption else []
    )

    fig.update_yaxes(title_text="Average Rating", row=1, col=1)
    fig.update_xaxes(title_text="Period", row=1, col=1)
    fig.update_xaxes(title_text="Genre", row=2, col=1)
    fig.update_yaxes(title_text="Period", row=2, col=1)

    return fig


make_interactive_query(
    engine,
    text(query_4),
    param_config_4,
    plot_avg_rating_trend_with_pivot,
    title="Analytical Report 4: Genre & Release Year Cross-Dimensional Report"
)

VBox(children=(HBox(children=(SelectMultiple(description='Genres:', index=(0, 1), options=('Action', 'Adventur…

### **Analytical Report 5: *Title Type & Release Year Cross-Dimensional Report***
This analytical report examines the trends of average ratings of different title types across selected time dimensions, showing comparative analysis of performance of different title types across time dimensions. This report also utilizes a majority of OLAP operations through conducting roll-up and drill-down across the hierarchical time dimension and performing pivot, slice, and/or dice across title types and time dimensions.

#### **Query Result**

In [27]:
params_5 = {
    "titleTypes": "movie,tvSeries",
    "year1": 1980,
    "year2": 2020,     
    "yearDimension": "decade"
}

query_5 = """
SELECT
  CASE
    WHEN :yearDimension = 'year' THEN ry.releaseYear
    WHEN :yearDimension = 'decade' THEN ry.decade
    ELSE ry.century
  END AS period, 
  t.titleType, 
  ROUND(AVG(f.averageRating), 2) AS avgRating
FROM FactTitle f
JOIN DimReleaseYear ry 
  ON ry.releaseYearKey = f.releaseYearKey
JOIN DimTitle t 
  ON t.titleKey = f.titleKey
WHERE
  (:titleTypes IS NULL OR FIND_IN_SET(t.titleType, :titleTypes) > 0)
  AND (:year1 IS NULL OR (
    CASE
      WHEN :yearDimension = 'year' THEN ry.releaseYear
      WHEN :yearDimension = 'decade' THEN ry.decade
      ELSE ry.century
    END) >= :year1)
  AND (:year2 IS NULL OR (
    CASE
      WHEN :yearDimension = 'year' THEN ry.releaseYear
      WHEN :yearDimension = 'decade' THEN ry.decade
      ELSE ry.century
    END) <= :year2)

GROUP BY period, t.titleType
ORDER BY period, t.titleType;
"""

In [ ]:

result_5 = run_sql(query_5, engine, params=params_5)

result_5.head()

   period titleType  avgRating
0    1980     movie       5.88
1    1980  tvSeries       6.99
2    1990     movie       6.01
3    1990  tvSeries       6.78
4    2000     movie       6.19

#### **Interactive Visualization**

In [37]:
param_config_5 = {
    "titleTypes": {
        "widget": SelectMultiple(
            options=["movie", "tvSeries", "short", "videoGame"],
            value=["movie", "tvSeries"],
            description="Title Types:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "yearDimension": {
        "widget": Dropdown(
            options=["year", "decade", "century"],
            value="decade",
            description="Year Dim:"
        )
    },
    "year1": {"widget": IntSlider(value=1980, min=1900, max=2025, step=10, description="From:")},
    "year2": {"widget": IntSlider(value=2020, min=1900, max=2025, step=10, description="To:")},
}


# --- Dynamic Year Slider Update ---
def update_year_sliders_5(change):
    """Update year sliders dynamically based on selected yearDimension."""
    dim = change["new"]
    year1_widget = param_config_5["year1"]["widget"]
    year2_widget = param_config_5["year2"]["widget"]

    if dim == "year":
        year1_widget.min, year1_widget.max, year1_widget.step = 1900, 2025, 1
        year2_widget.min, year2_widget.max, year2_widget.step = 1900, 2025, 1
        year1_widget.value, year2_widget.value = 1980, 2020

    elif dim == "decade":
        year1_widget.min, year1_widget.max, year1_widget.step = 1900, 2030, 10
        year2_widget.min, year2_widget.max, year2_widget.step = 1900, 2030, 10
        year1_widget.value, year2_widget.value = 1980, 2020

    elif dim == "century":
        year1_widget.min, year1_widget.max, year1_widget.step = 19, 22, 1
        year2_widget.min, year2_widget.max, year2_widget.step = 19, 22, 1
        year1_widget.value, year2_widget.value = 20, 21


# Attach the observer to react to yearDimension changes
param_config_5["yearDimension"]["widget"].observe(update_year_sliders_5, names="value")

def plot_avg_rating_by_title_type(df):
    """
    Analytical Report #5 visualization:
      - Line chart of avg rating trend per title type
      - Heatmap pivot of period × titleType
      - Scrollable summary table
    Returns a single Plotly Figure (for make_interactive_query).
    """
    if df.empty:
        fig = go.Figure()
        fig.add_annotation(
            text="No data found for the current selection.",
            showarrow=False, x=0.5, y=0.5, font=dict(size=14)
        )
        return fig

    df["period"] = df["period"].astype(str)
    df_pivot = df.pivot(index="period", columns="titleType", values="avgRating").fillna(0)

    fig = make_subplots(
        rows=3, cols=1,
        row_heights=[0.45, 0.35, 0.20],
        vertical_spacing=0.08,
        subplot_titles=(
            "Average Rating Trend by Title Type",
            "Average Rating Heatmap (Period × Title Type)",
            "Pivot Table Summary"
        ),
        specs=[[{"type": "xy"}],
               [{"type": "heatmap"}],
               [{"type": "domain"}]]
    )

    # --- Line Chart ---
    for ttype, d in df.groupby("titleType"):
        fig.add_trace(
            go.Scatter(
                x=d["period"],
                y=d["avgRating"],
                mode="lines+markers",
                name=ttype,
                line=dict(width=2),
                hovertemplate=f"Type: {ttype}<br>Period: %{{x}}<br>Avg Rating: %{{y}}"
            ),
            row=1, col=1
        )

    # --- Heatmap ---
    fig.add_trace(
        go.Heatmap(
            z=df_pivot.values,
            x=df_pivot.columns,
            y=df_pivot.index,
            colorscale="Viridis",
            colorbar=dict(title="Avg Rating", len=0.5, y=0.65),
            hoverongaps=False
        ),
        row=2, col=1
    )

    max_rows_display = 15
    num_rows = len(df_pivot)
    shown_rows = df_pivot.iloc[:max_rows_display]
    caption = ""
    if num_rows > max_rows_display:
        caption = f"Showing first {max_rows_display} of {num_rows} periods"

    fig.add_trace(
        go.Table(
            header=dict(
                values=["Period"] + list(df_pivot.columns),
                fill_color="#B2EBF2",
                align="center",
                font=dict(color="black", size=12)
            ),
            cells=dict(
                values=[shown_rows.index] + [shown_rows[col] for col in shown_rows.columns],
                fill_color="#E0F7FA",
                align="center",
                font=dict(size=11)
            ),
            domain=dict(x=[0, 1], y=[0, 0.15])
        ),
        row=3, col=1
    )

    fig.update_layout(
        height=1300,
        title="Analytical Report #5: Title Type & Time Trend Analysis",
        title_x=0.5,
        title_font=dict(size=20),
        margin=dict(l=50, r=50, t=100, b=40),
        legend=dict(orientation="h", yanchor="bottom", y=1.05, xanchor="center", x=0.5),
        plot_bgcolor="white",
        annotations=[
            dict(
                text=caption,
                x=0.5, y=0.02,
                xref="paper", yref="paper",
                showarrow=False,
                font=dict(size=12, color="gray")
            )
        ] if caption else []
    )

    fig.update_yaxes(title_text="Average Rating", row=1, col=1)
    fig.update_xaxes(title_text="Period", row=1, col=1)
    fig.update_xaxes(title_text="Title Type", row=2, col=1)
    fig.update_yaxes(title_text="Period", row=2, col=1)

    return fig

make_interactive_query(
    engine,
    text(query_5),
    param_config_5,
    plot_avg_rating_by_title_type,
    title="Analytical Report 5: Title Type & Release Year Cross-Dimensional Report"
)

VBox(children=(HBox(children=(SelectMultiple(description='Title Types:', index=(0, 1), options=('movie', 'tvSe…

### **Analytical Report 6: *Title Type & Genre Cross-Dimensional Report***
This analytical report compares the average ratings of selected titles grouped according to their title types and genres, enabling identification of trends or patterns between title types and genres of titles. This report performs pivot, slice, and/or dice operations across the selected and specific title type and genre dimensions.

#### **Query Result**

In [41]:
params_6 = {
    "titleTypes": "Movie,tvSeries",
    "genreList": "Action,Adventure"
}

query_6 = """
SELECT 
  t.titleType, 
  g.genre, 
  ROUND(AVG(f.averageRating), 2) AS avgRating
FROM FactTitle f
JOIN BridgeTitleGenre btg 
  ON btg.tconst = f.tconst
JOIN DimGenre g 
  ON g.genreKey = btg.genreKey
JOIN DimReleaseYear ry 
  ON ry.releaseYearKey = f.releaseYearKey
JOIN DimTitle t 
  ON t.titleKey = f.titleKey
WHERE
  (:titleTypes IS NULL OR FIND_IN_SET(t.titleType, :titleTypes) > 0)
  AND (:genreList IS NULL OR FIND_IN_SET(g.genre, :genreList) > 0)
GROUP BY t.titleType, g.genre
ORDER BY t.titleType, g.genre;
"""

In [ ]:

result_6 = run_sql(query_6, engine, params=params_6)

result_6.head()

#### **Interactive Visualization**

In [42]:
param_config_6 = {
    "titleTypes": {
        "widget": SelectMultiple(
            options=["movie", "tvSeries", "short", "videoGame"],
            value=["movie", "tvSeries"],
            description="Title Types:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Comedy", "Drama", "Crime", "Horror"],
            value=["Action", "Adventure"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    }
}

def plot_avg_rating_by_type_and_genre(df):
    """
    Analytical Report #6 visualization:
      - Line chart comparing average ratings per genre by title type
      - Heatmap of titleType × genre average ratings
      - Scrollable pivot table summary
    Returns a single Plotly Figure for make_interactive_query().
    """
    if df.empty:
        fig = go.Figure()
        fig.add_annotation(
            text="No data found for the current selection.",
            showarrow=False, x=0.5, y=0.5, font=dict(size=14)
        )
        return fig

    df_pivot = df.pivot(index="genre", columns="titleType", values="avgRating").fillna(0)

    # --- Set up subplot layout
    fig = make_subplots(
        rows=3, cols=1,
        row_heights=[0.45, 0.35, 0.20],
        vertical_spacing=0.08,
        subplot_titles=(
            "Average Rating by Genre and Title Type",
            "Average Rating Heatmap (Genre × Title Type)",
            "Pivot Table Summary"
        ),
        specs=[[{"type": "xy"}],
               [{"type": "heatmap"}],
               [{"type": "domain"}]]
    )

    # --- Line Chart ---
    # Each titleType gets its own line across genres
    for ttype, d in df.groupby("titleType"):
        fig.add_trace(
            go.Scatter(
                x=d["genre"],
                y=d["avgRating"],
                mode="lines+markers",
                name=ttype,
                line=dict(width=2),
                hovertemplate=f"Type: {ttype}<br>Genre: %{{x}}<br>Avg Rating: %{{y}}"
            ),
            row=1, col=1
        )

    # --- Heatmap ---
    fig.add_trace(
        go.Heatmap(
            z=df_pivot.values,
            x=df_pivot.columns,
            y=df_pivot.index,
            colorscale="Viridis",
            colorbar=dict(title="Avg Rating", len=0.5, y=0.65),
            hoverongaps=False
        ),
        row=2, col=1
    )

    # --- Scrollable Pivot Table ---
    max_rows_display = 15
    num_rows = len(df_pivot)
    shown_rows = df_pivot.iloc[:max_rows_display]
    caption = ""
    if num_rows > max_rows_display:
        caption = f"wing first {max_rows_display} of {num_rows} genres"

    fig.add_trace(
        go.Table(
            header=dict(
                values=["Genre"] + list(df_pivot.columns),
                fill_color="#B2EBF2",
                align="center",
                font=dict(color="black", size=12)
            ),
            cells=dict(
                values=[shown_rows.index] + [shown_rows[col] for col in shown_rows.columns],
                fill_color="#E0F7FA",
                align="center",
                font=dict(size=11)
            ),
            domain=dict(x=[0, 1], y=[0, 0.15])
        ),
        row=3, col=1
    )

    # --- Layout & Titles ---
    fig.update_layout(
        height=1200,
        title="Analytical Report #6: Title Type × Genre Average Rating Analysis",
        title_x=0.5,
        title_font=dict(size=20),
        margin=dict(l=50, r=50, t=100, b=40),
        legend=dict(orientation="h", yanchor="bottom", y=1.05, xanchor="center", x=0.5),
        plot_bgcolor="white",
        annotations=[
            dict(
                text=caption,
                x=0.5, y=0.02,
                xref="paper", yref="paper",
                showarrow=False,
                font=dict(size=12, color="gray")
            )
        ] if caption else []
    )

    # --- Axis Labels ---
    fig.update_yaxes(title_text="Average Rating", row=1, col=1)
    fig.update_xaxes(title_text="Genre", row=1, col=1)
    fig.update_xaxes(title_text="Title Type", row=2, col=1)
    fig.update_yaxes(title_text="Genre", row=2, col=1)

    return fig


make_interactive_query(
    engine,
    text(query_6),
    param_config_6,
    plot_avg_rating_by_type_and_genre,
    title="Analytical Report 6: *Title Type & Genre Cross-Dimensional Report"
)

VBox(children=(HBox(children=(SelectMultiple(description='Title Types:', index=(0, 1), options=('movie', 'tvSe…

### **Analytical Report 7: *Series & Season Cross-Dimensional Report***
This analytical report shows the trend and performance of selected series titles based on season-level average ratings, uncovering rating trends or patterns between series and their respective seasons. This report also utilizes pivot, slice, and/or dice operations across the episode dimension, based on selected and specific series and season parameters.

#### **Query Result**

In [44]:
params_7 = {
    "seriesTitles": "Breaking Bad,Friends",
    "seasonNumbers": "1,2,3,4,5,6,7,8,9,10"
}

query_7 = """
SELECT 
  t.primaryTitle, 
  s.seasonNumber, 
  ROUND(s.seasonAvgRating, 2) AS avgRatings
FROM (
  SELECT 
    e.parentTconst, 
    e.seasonNumber, 
    AVG(f.averageRating) AS seasonAvgRating
  FROM FactTitle f
  JOIN DimEpisode e
    ON e.episodeKey = f.episodeKey
  GROUP BY e.parentTconst, e.seasonNumber
) AS s
JOIN FactTitle f2
  ON f2.tconst = s.parentTconst
JOIN DimTitle t 
  ON t.titleKey = f2.titleKey
WHERE 
  (:seriesTitles IS NULL OR FIND_IN_SET(t.primaryTitle, :seriesTitles) > 0)
  AND (:seasonNumbers IS NULL OR FIND_IN_SET(CAST(s.seasonNumber AS CHAR), :seasonNumbers) > 0)
ORDER BY t.primaryTitle, s.seasonNumber;
"""

In [ ]:

result_7 = run_sql(query_7, engine, params=params_7)

result_7.head()

   primaryTitle  seasonNumber  avgRatings
0  Breaking Bad             1        8.71
1  Breaking Bad             2        8.78
2  Breaking Bad             3        8.75
3  Breaking Bad             4        8.97
4  Breaking Bad             5        9.39

#### **Interactive Visualization**

In [45]:
param_config_7 = {
    "seriesTitles": {
        "widget": SelectMultiple(
            options=["Breaking Bad", "Friends", "The Office", "Game of Thrones"],
            value=["Breaking Bad", "Friends"],
            description="Series:"
        ),
        "transform": lambda v: ",".join(v)
    },
    "seasonNumbers": {
        "widget": SelectMultiple(
            options=[str(i) for i in range(1, 11)],
            value=[str(i) for i in range(1, 6)],
            description="Seasons:"
        ),
        "transform": lambda v: ",".join(v)
    }
}


def plot_series_season_trends(df):
    """
    Analytical Report #7 visualization:
      - Line chart: average rating trend per season per series
      - Heatmap: (Series × Season) matrix of average ratings
      - Pivot table: scrollable summary
    Returns a Plotly Figure (for make_interactive_query).
    """
    if df.empty:
        fig = go.Figure()
        fig.add_annotation(
            text="No data found for the selected series/seasons.",
            showarrow=False, x=0.5, y=0.5, font=dict(size=14)
        )
        return fig

    # Ensure numeric season ordering
    df["seasonNumber"] = df["seasonNumber"].astype(int)
    df = df.sort_values(["primaryTitle", "seasonNumber"])

    # Pivot table
    df_pivot = df.pivot(index="seasonNumber", columns="primaryTitle", values="avgRatings").fillna(0)

    # --- Subplots layout
    fig = make_subplots(
        rows=3, cols=1,
        row_heights=[0.45, 0.35, 0.20],
        vertical_spacing=0.08,
        subplot_titles=(
            "Average Rating Trend per Season (by Series)",
            "Average Rating Heatmap (Series × Season)",
            "Pivot Table Summary"
        ),
        specs=[[{"type": "xy"}],
               [{"type": "heatmap"}],
               [{"type": "domain"}]]
    )

    # --- Line Chart ---
    for series, d in df.groupby("primaryTitle"):
        fig.add_trace(
            go.Scatter(
                x=d["seasonNumber"],
                y=d["avgRatings"],
                mode="lines+markers",
                name=series,
                line=dict(width=2),
                hovertemplate=f"Series: {series}<br>Season %{{x}}<br>Avg Rating: %{{y}}"
            ),
            row=1, col=1
        )

    # --- Heatmap ---
    fig.add_trace(
        go.Heatmap(
            z=df_pivot.values,
            x=df_pivot.columns,
            y=df_pivot.index,
            colorscale="Viridis",
            colorbar=dict(title="Avg Rating", len=0.5, y=0.65),
            hoverongaps=False
        ),
        row=2, col=1
    )

    # --- Scrollable Pivot Table ---
    max_rows_display = 12
    num_rows = len(df_pivot)
    shown_rows = df_pivot.iloc[:max_rows_display]
    caption = ""
    if num_rows > max_rows_display:
        caption = f"Showing first {max_rows_display} of {num_rows} seasons"

    fig.add_trace(
        go.Table(
            header=dict(
                values=["Season"] + list(df_pivot.columns),
                fill_color="#B2DFDB",
                align="center",
                font=dict(color="black", size=12)
            ),
            cells=dict(
                values=[shown_rows.index] + [shown_rows[col] for col in shown_rows.columns],
                fill_color="#E0F2F1",
                align="center",
                font=dict(size=11)
            ),
            domain=dict(x=[0, 1], y=[0, 0.15])
        ),
        row=3, col=1
    )

    # --- Layout ---
    fig.update_layout(
        height=1100,
        title="Analytical Report #7: Series & Season Cross-Dimensional Report",
        title_x=0.5,
        title_font=dict(size=20),
        margin=dict(l=50, r=50, t=100, b=40),
        legend=dict(orientation="h", yanchor="bottom", y=1.05, xanchor="center", x=0.5),
        plot_bgcolor="white",
        annotations=[
            dict(
                text=caption,
                x=0.5, y=0.02,
                xref="paper", yref="paper",
                showarrow=False,
                font=dict(size=12, color="gray")
            )
        ] if caption else []
    )

    # --- Axis labels ---
    fig.update_yaxes(title_text="Average Rating", row=1, col=1)
    fig.update_xaxes(title_text="Season Number", row=1, col=1)
    fig.update_yaxes(title_text="Season Number", row=2, col=1)
    fig.update_xaxes(title_text="Series Title", row=2, col=1)

    return fig


make_interactive_query(
    engine,
    text(query_7),
    param_config_7,
    plot_series_season_trends,
    title="Analytical Report 7: Series & Season Cross-Dimensional Report"
)

VBox(children=(HBox(children=(SelectMultiple(description='Series:', index=(0, 1), options=('Breaking Bad', 'Fr…

### **Analytical Report 8: *Genre-Based Correlation Analysis Between Average Ratings and Number of Votes***
This statistical approach shows and determines whether there is an observed linear relationship, with its strength and direction,
between the average ratings and the number of votes for each selected genre in the dataset. This approach is conducted through
computing the Pearson correlation coefficient between the paired concerned variables with respect to their respective genres and 
with the use of an SQL statement, which can be found in Appendix A, Listing 8. The resulting correlation coefficient can be 
evaluated to determine its strength and direction of linear relationship between average ratings and number of votes for each selected genre.

Evaluation:
- Coefficient values close to 1 mean a strong positive correlation
- Coefficient values near 0 mean no correlation
- Coefficient values close to -1 mean a strong negative correlation

#### **Query Result**

In [30]:
params_8 = {
  "genreList": "Drama,Romance"
}

query_8 = """
SELECT
  g.genre,
  (
    (COUNT(*) * SUM(f.averageRating * f.numVotes) - SUM(f.averageRating) * SUM(f.numVotes)) /
    SQRT((COUNT(*) * SUM(f.averageRating * f.averageRating) - POWER(SUM(f.averageRating), 2)) * (COUNT(*) * SUM(f.numVotes * f.numVotes) - POWER(SUM(f.numVotes), 2)))
  ) AS PearsonCorrelation
FROM FactTitle f
JOIN BridgeTitleGenre btg ON f.tconst = btg.tconst
JOIN DimGenre g ON btg.genreKey = g.genreKey
WHERE FIND_IN_SET(g.genre, :genreList) > 0
GROUP BY g.genre
ORDER BY PearsonCorrelation DESC;
"""

In [ ]:
result_8 = run_sql(query_8, engine, params=params_8)

result_8.head()

     genre  PearsonCorrelation
0    Drama            0.021520
1  Romance            0.003733

#### **Interactive Visualization**

In [ ]:
param_config_8 = {
    "genreList": {
        "widget": SelectMultiple(
            options=["Action", "Adventure", "Animation", "Comedy", "Crime", "Drama", "Horror", "Romance", "Sci-Fi"],
            value=["Drama", "Romance"],
            description="Genres:"
        ),
        "transform": lambda v: ",".join(v)
    }
}

def plot_genre_correlation(df):
    if df.empty:
        raise ValueError("No data to display.")
    
    fig = px.bar(
        df,
        x="genre",
        y="PearsonCorrelation",
        color="genre",
        text="PearsonCorrelation",
        title="Correlation Between Ratings and Votes by Genre",
        height=600
    )
    
    fig.update_traces(texttemplate="%{text:.3f}", textposition="outside")
    fig.update_layout(
        xaxis_title="Genre",
        yaxis_title="Pearson Correlation",
        yaxis=dict(range=[-1, 1]),
        margin=dict(l=40, r=40, t=60, b=100),
        showlegend=False
    )
    
    return fig

make_interactive_query(
    engine,
    text(query_8),
    param_config_8,
    plot_genre_correlation,
    title="Analytical Report 8: *Genre-Based Correlation Analysis Between Average Ratings and Number of Votes"
)

VBox(children=(HBox(layout=Layout(flex_flow='row wrap', justify_content='flex-start')), HBox(children=(SelectM…

Given that the Pearson correlation coefficient is highly close to 0, it can be assumed that there is no correlation between the 
average ratings and number of votes for titles in the dataset.